# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.dist-info/
*.sqlite3

# Virtual env
.venv/
env/
venv/

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

# Environment
.env
.env.*

# Build artifacts
build/
*.egg

# Docker
Dockerfile
docker-compose.yml

# Alembic
alembic/versions/*.pyc
